<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <client/>
    <services>
      <service name="FreeEDR.Internal.DataService.Heartbeat" behaviorConfiguration="FreeEDR.Internal.DataService.Behavior">
        <endpoint address="" binding="webHttpBinding" bindingNamespace="FreeEDR.Internal.DataService" contract="FreeEDR.Internal.DataService.IHeartbeat" behaviorConfiguration="web"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="FreeEDR.Internal.DataService.MailService" behaviorConfiguration="FreeEDR.Internal.DataService.Behavior">
        <endpoint address="" binding="webHttpBinding" bindingNamespace="FreeEDR.Internal.DataService" contract="FreeEDR.Internal.DataService.IMailService" behaviorConfiguration="web"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="FreeEDR.Internal.DataService.Reporting" behaviorConfiguration="FreeEDR.Internal.DataService.Behavior">
        <endpoint address="" binding="webHttpBinding" bindingNamespace="FreeEDR.Internal.DataService" contract="FreeEDR.Internal.DataService.IReporting" behaviorConfiguration="web"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FreeEDR.Internal.DataService.Behavior">
          <dataContractSerializer maxItemsInObjectGraph="1165536" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="500" maxConcurrentSessions="400" />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
